<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="bi bi-briefcase me-2"></i>Aplikasi Proyek & Tagihan Freelancer
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="bi bi-speedometer2 me-1"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clients">
                        <i class="bi bi-people me-1"></i> Klien
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects">
                        <i class="bi bi-briefcase me-1"></i> Proyek
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tasks">
                        <i class="bi bi-list-task me-1"></i> Tugas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="invoices">
                        <i class="bi bi-receipt me-1"></i> Tagihan
                    </a>
                </li>
            </ul>
            <div class="navbar-nav">
                <div class="nav-item">
                    <span class="navbar-text">
                        <i class="bi bi-person-circle me-2"></i>Admin
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>

